[Unit]
Description=Update hblock and patch unbound rules
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=-/home/jobs/scripts/by-user/root/hblock_unbound.sh /home/jobs/scripts/by-user/root/hblock_unbound.header.conf /home/jobs/scripts/by-user/root/hblock_unbound.footer.conf /home/jobs/scripts/by-user/root/hblock_unbound.post_commands.conf /home/jobs/scripts/by-user/root/hblock
User=root
Group=root

[Install]
WantedBy=multi-user.target

