[Unit]
Description=Clean Pacman's cache
Requires=-.mount
After=-.mount

[Service]
Type=simple
ExecStart=/home/jobs/scripts/by-user/root/clean_pacman.py /home/jobs/scripts/by-user/root/clean_pacman.yaml
User=root
Group=root

[Install]
WantedBy=multi-user.target
