[Unit]
Description=Update hblock and patch unbound rules
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/home/jobs/scripts/by-user/root/hblock_unbound.sh /home/jobs/scripts/by-user/root/hblock_unbound.yaml
User=root
Group=root

[Install]
WantedBy=multi-user.target
