[Unit]
Description=archive myuser's documents
Requires=data.mount
After=data.mount

[Service]
Type=simple
ExecStart=/home/jobs/scripts/by-user/root/archive_documents_simple.sh /home/jobs/scripts/by-user/root/archive_documents_simple.myuser.conf
User=root
Group=root

[Install]
WantedBy=multi-user.target
