[Unit]
Description=archive media files for mypurpose

[Service]
Type=simple
ExecStart=-/home/jobs/scripts/by-user/root/archive_media_files.sh /home/jobs/scripts/by-user/root/archive_media_files.mypurpose.conf
User=root
Group=root

[Install]
WantedBy=multi-user.target
