[Unit]
Description=compressed, archivable, grayscaled and OCR version of myuser_documents

[Service]
Type=simple
ExecStart=/home/jobs/scripts/by-user/myuser/pdftoocr.sh /home/jobs/scripts/by-user/myuser/pdftoocr.myuser_documents.conf /home/jobs/scripts/by-user/myuser/pdftoocr_deploy.myuser_documents.conf
User=myuser
Group=myuser

[Install]
WantedBy=multi-user.target
