[Unit]
Description=mdadm check
Requires=sys-devices-virtual-block-md1.device
Requires=sys-devices-virtual-block-md2.device
Requires=sys-devices-virtual-block-md3.device
After=sys-devices-virtual-block-md1.device
After=sys-devices-virtual-block-md2.device
After=sys-devices-virtual-block-md3.device

[Service]
Type=simple
ExecStart=-/home/jobs/scripts/by-user/root/mdadm_check.py /home/jobs/scripts/by-user/root/mdadm_check.conf
User=root
Group=root

[Install]
WantedBy=multi-user.target
