[Unit]
Description=execute smartd on ata-disk1

[Service]
Type=simple
ExecStart=/home/jobs/scripts/by-user/root/smartd_test.py /home/jobs/scripts/by-user/root/smartd_test.yaml ata-disk1 
User=root
Group=root

[Install]
WantedBy=multi-user.target
