[Unit]
Description=record the Camera1 camera running motion
Requires=network-online.target
Requires=home-surveillance-video.mount
After=network-online.target
After=home-surveillance-video.mount

[Service]
Type=simple
ExecStart=/home/jobs/scripts/by-user/surveillance/record_motion.py /home/jobs/scripts/by-user/surveillance/record_motion.camera1.yaml
Restart=always
RestartSec=10s
User=surveillance
Group=surveillance

[Install]
WantedBy=multi-user.target
