[Unit]
Description=record the Camera1 camera running motion
Requires=network-online.target
Requires=home-surveillance-video.mount
After=network-online.target
After=home-surveillance-video.mount

[Service]
Type=simple
ExecStart=/home/jobs/scripts/by-user/surveillance/record_motion.sh /home/jobs/scripts/by-user/surveillance/record_motion.camera1.conf
Restart=always
RestartSec=10s
User=surveillance
Group=surveillance

[Install]
WantedBy=multi-user.target
